.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding: 60px 20px;
}

#bicicleta .bicicletas-bg:nth-child(3) {
  background-image: none;
}

#bicicleta .titulo p {
    text-transform: uppercase;
}

#bicicleta p {
    text-transform: inherit;
}

.bicicletas-img {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bicicletas-img img {
  flex: 1;
  min-width: 200px;
}

.bicicletas-img img:nth-child(1) {
  min-width: 100%;
}

.bicicleta-content > p {
  margin-bottom: 32px;
}

.bicicleta-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px; /* Linha e coluna */
  margin-bottom: 40px;
}

.bicicleta-comprar a {
  grid-row: 1/3; /* Ocupar duas linhas */
}

.bicicleta-comprar span {
  display: flex;
  align-items: center;
  background-color: var(--cor-12);
  padding: 4px 8px;
  border-radius: 4px;
  gap: 8px;
}

.bicicleta-content h2 {
  text-transform: uppercase;
  letter-spacing: 0.015rem;
  margin-bottom: 12px;
}

.bicicleta-infos,
.bicicleta-fichas {
  padding: 32px;
  background-color: var(--cor-12);
  border-radius: 4px;
}

.bicicleta-infos {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.bicicleta-infos img {
    width: 24px;
    margin-bottom: 8px;
}

.bicicleta-infos h3 {
    margin-bottom: 8px;
}

.bicicleta-fichas li {
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--cor-11);
}

.bicicleta-fichas li:last-child {
    border-bottom: none;
}

.bicicleta-fichas span {
    color: var(--cor-6);
}

@media (max-width: 800px) {
    .bicicleta {
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .bicicletas-img {
        grid-row: 2;
    }
}

@media (max-width: 400px) {
    .bicicleta-infos, .bicicleta-comprar {
        grid-template-columns: 1fr;
    }
}