.parceiros {
  padding: 60px 0 120px 0;
}

.parceiros h2 {
  margin-bottom: 60px;
}

.parceiros ul {
  padding: 0 20px;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.parceiros li {
  display: flex;
  /* align-items: center;
    justify-content: center; */
  padding: 32px;
  border-left: 2px solid var(--cor-2);
}

.parceiros li img {
  margin: 0 auto;
}

.parceiros li:first-child,
li:nth-child(5) {
  border-left: none;
}

.parceiros li:nth-child(n+5) { /* A partir do 5º item */
    border-top: 2px solid var(--cor-2);
}

@media (max-width: 800px) {
    .parceiros {
        margin-bottom: 60px;
    }
    .parceiros h2 {
        margin-bottom: 20px;
    }
    .parceiros ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .parceiros li {
        padding: 20px;
    }
    /* .parceiros li:nth-child(3), li:nth-child(7) {
        border-left: none;
    } */
    .parceiros li:nth-child(odd) { /* Tira dos items ímpares */
        border-left: none;
    }
    .parceiros li:nth-child(n+3) {
        border-top: 2px solid var(--cor-2);
    }
}