.header-bg {
  background-color: var(--cor-12);
}

.header-ct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  flex-wrap: wrap;
  gap: 15px;
}

.header-menu {
  display: flex;
  column-gap: 40px;
  padding: 20px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0;
  position: relative;
}

.header-menu a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--cor-0);
  display: block; /* Fica abaixo do elemento */
  margin-top: 4px;
  transition: 0.3s;
  /* left: 0;
      bottom: 0; */
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu a:after {
    display: none;
  }
  .header-menu {
    column-gap: 20px;
    row-gap: 20px;
  }
  .header-menu a {
    border-radius: 4px;
    background-color: var(--cor-11);
    padding: 12px 15px;
  }
  .header-menu a:hover {
    background-color: var(--cor-10);
  }
}
