.perguntas-ct {
    padding: 120px 20px;

}

.perguntas-ct h2 {
    margin-bottom: 60px;
}

.perguntas-ct dl > div {
    padding: 20px;
    border-radius: 4px;
}

.perguntas-ct dl > div:nth-child(odd) {
    background-color: var(--cor-1);
}

.perguntas-ct dt {
    display: grid;
    grid-template-columns: auto 1fr auto; /* Conteúdo do Meio (DT) cresce ao máximo */
    align-items: center;
    gap: 8px;
    cursor: pointer; /* Mãozinha de clicar para abrir/fechar */
}

.perguntas-ct dt::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 8px;
    background-color: var(--cor-p1);
}

.perguntas-ct dt::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 6px;
    background: url('../../img/icones/seta-abrir.svg');
}

.perguntas-ct dd {
    padding-top: 16px;
    padding-left: 20px;
    max-width: 80ch;
}

@media (max-width: 800px) {
    .perguntas-ct {
        padding: 60px auto;
    }
    .perguntas-ct h2 {
        margin-bottom: 40px;
    }
}