.vantagens-bg {
    background-color: var(--cor-12);
}

.vantagens-ct {
    padding: 120px 20px;
}

.vantagens-ct h2 {
    margin-bottom: 60px;
}

.vantagens-ct ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    /* row-gap: 40px;
    column-gap: 80px; */
    gap: 40px 80px;
}

.vantagens-ct h3, .vantagens-ct img {
    margin-bottom: 8px;
}

@media (max-width: 800px) {
    .vantagens-ct {
        padding: 60px auto;
    }
    .vantagens-ct h2 {
        margin-bottom: 40px;
    }
    .vantagens-ct ul {
        gap: 20px;
    }
}